.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
}

.opacity {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.child {
  width: 90%;
  margin: 10px;
}

.buttonContainer {
  padding: 5vh;
  display: flex;
  justify-content: center;
}