.container {
  min-height: 100vh;
  padding: 5vh 5vw;
}

.loadingContainer {
  height: 100vh;
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  margin: 32px 0px !important;
}
